#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  opacity:0.9;
  filter: saturate(150%);
}
#head{
  width: 70%;
  margin-left: 2%;
}
h1{
  margin-bottom: 0;
}
#location{
  width:70%;
  margin:5%;
  height:10%;
}

.content{
  height:50%;
  width:30%;
  margin:0 auto;
  margin-top: 10%;

  border: 2px solid white;
}
