<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Location not found</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <div class="error">404</div>
    <br /><br />
    <span class="info">Location not found<span><a id="go" class="waves-effect waves-light btn" href="/">GO back</a>
    </span></span>
    <img src="http://images2.layoutsparks.com/1/160030/too-much-tv-static.gif" class="static" />
</body>
</html>
