<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>weather_up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/key.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id='main'>
      <div class="top">
        <h1>Weather Up <span class="message"><%=  data["name"] %></span></h1>
        <hr size="10" >
      </div>
      <div id="out"></div>
      <div class="content">
        <h2><span id="temp"><%= data["temp"] %></span><span id="unit"><sup>o</sup>C</span></h2>
        <h3 id ="location"><%=  data["name"] %></h3>
      </div>
      <form  class="text-center" action="/run" method="post" autocomplete="off">
        <input type="text" name="place" placeholder="Enter the location"><br>
        <input class ="btn btn-success mt-2" type="submit" name="submit" value="Submit">
      </form>


    </div>

  </body>

</html>
