<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body >
    <div id='main'>
      <div id="head">
        <h1><%= Weather Up %></h1>
        <hr>
      </div>
      <div class="content">
        <input id="location" type="text" name="place" placeholder="Enter the location">
        <h1 id=demo>xsx</h1>
      </div>


    </div>


  </body>

</html> -->
<%= some %>
