.top{
  margin-left: 2%;
  color: #2ecc72;
}
.container{
	margin: 1% 40%;
}
.message{
  font-size: 28px;
  transition: all 1s;
}
.content{
  margin:1% auto;
  text-align: center;
	box-sizing: border-box;
}
#form{
	margin:0 10%;
}
