.top{
  margin-left: 2%;
  color: #2ecc72;
}
.content{
	margin:5% 30%;
}
#form{
	margin:0 10% 10% 10%;
	padding-bottom: 6%;
}
ul li {
	font-size: 200%;
	line-height: 200%;
	letter-spacing: 2px;
}
#footer{
	padding: 0;
	background-color:#eceff1;
}
