
#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity:0.9;
  filter: saturate(150%);
}
hr{
	border-top: 2px double #75DA8B;
}

.top{
  width: 70%;
  margin-left: 2%;
  color: #2ecc72;
}
h1{
  margin-bottom: 0;

}

.content h2{
  font-size: 700%;
  text-align: center;
  font-weight:lighter;
  margin-top: 12%;
}
sup {
    font-size: smaller;
}
.message{
  font-size: 28px;
  visibility: hidden;
}
.apply{
  visibility: visible;
}
#location{
  width:70%;
  margin:5%;
  height:10%;
}
.content{
  height:50%;
  width:40%;
  margin:5% auto;
  border: 2px solid #535C68;
  text-align: center;
}
#unit{
  font-weight:100;
}
